set scrolloff=10
set incsearch
" Don't use Ex mode, use Q for formatting.
map Q gq
set visualbell
set noerrorbells
set ignorecase
let mapleader = " "
set number
set relativenumber
nmap <leader>rl :set relativenumber!<CR>
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>x <Action>(PhpListenDebugAction)

" TODO: figure out how to make these one action. Currently requires double undo
map <leader>[ O<esc>j
map <leader>] o<esc>k
